.mobile-login .login-form input[type=email]::placeholder, .mobile-login .login-form input[type=password]::placeholder {

		color: #6F6A6A !important; font-size: 13px

}


.check {
	display: block;
	position: relative;
	padding-left: 35px;
	margin-bottom: 12px;
	cursor: pointer;
	font-size: 13px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
/* Hide the browser's default checkbox */

.check input {
	position: absolute;
	opacity: 0;
	cursor: pointer;
}
/* Create a custom checkbox */

.checkmark {
	position: absolute;
	top: 0;
	left: 0;
	height: 18px;
	width: 18px;
	background-color: noen;
	border: 1px solid #b1bbc9;
	border-radius: 3px;
}
/* On mouse-over, add a grey background color */

.check:hover input ~ .checkmark {
	border: 1px solid #2196F3;
}
/* When the checkbox is checked, add a blue background */

.check input:checked ~ .checkmark {
	background-color: #fff;
	border: 1px solid #2196F3;
}
/* Create the checkmark/indicator (hidden when not checked) */

.checkmark:after {
	content: "";
	position: absolute;
	display: none;
}
/* Show the checkmark when checked */

.check input:checked ~ .checkmark:after {
	display: block;
}
/* Style the checkmark/indicator */

.check .checkmark:after {
	left: 5px;
	top: 1px;
	width: 7px;
	height: 13px;
	border: solid #2196F3;
	border-width: 0 4px 4px 0;
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
}
.radio {
	display: block;
	position: relative;
	padding-left: 35px;
	margin-bottom: 12px;
	cursor: pointer;
	font-size: 16px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
/* Hide the browser's default radio button */

.radio input {
	position: absolute;
	opacity: 0;
	cursor: pointer;
}
/* Create a custom radio button */

.radiomark {
	position: absolute;
	top: 0;
	left: 0;
	height: 25px;
	width: 25px;
	background-color: #eee;
	border-radius: 50%;
}
/* On mouse-over, add a grey background color */

.radio:hover input ~ .radiomark {
	background-color: #ccc;
}
/* When the radio button is checked, add a blue background */

.radio input:checked ~ .radiomark {
	background-color: #2196F3;
}
/* Create the indicator (the dot/circle - hidden when not checked) */

.radiomark:after {
	content: "";
	position: absolute;
	display: none;
}
/* Show the indicator (dot/circle) when checked */

.radio input:checked ~ .radiomark:after {
	display: block;
}
/* Style the indicator (dot/circle) */

.radio .radiomark:after {
	top: 9px;
	left: 9px;
	width: 8px;
	height: 8px;
	border-radius: 50%;
	background: white;
}
.switch {
	position: relative;
	display: inline-block;
	width: 60px;
	height: 34px;
}
.switch input {
	display: none;
}
.slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #ccc;
	-webkit-transition: .4s;
	transition: .4s;
}
.slider:before {
	position: absolute;
	content: "";
	height: 26px;
	width: 26px;
	left: 4px;
	bottom: 4px;
	background-color: white;
	-webkit-transition: .4s;
	transition: .4s;
}
input:checked + .slider {
	background-color: #2196F3;
}
input:focus + .slider {
	box-shadow: 0 0 1px #2196F3;
}
input:checked + .slider:before {
	-webkit-transform: translateX(26px);
	-ms-transform: translateX(26px);
	transform: translateX(26px);
}
/* Rounded sliders */

.slider.round {
	border-radius: 34px;
}
.slider.round:before {
	border-radius: 50%;
}
.switch-m {
	position: relative;
	display: inline-block;
	width: 60px;
	height: 34px;
}
.switch-m input {
	display: none;
}
.slider-m {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #35455e;
	-webkit-transition: .4s;
	transition: .4s;
}
.slider-m:before {
	position: absolute;
	content: "";
	height: 29px;
	width: 29px;
	left: 2px;
	bottom: 2px;
	background-color: #7cc5f2;
	-webkit-transition: .4s;
	transition: .4s;
}
input:checked + .slider-m {
	background-color: #0077be;
}
input:focus + .slider-m {
	box-shadow: 0 0 1px #0077be;
}
input:checked + .slider-m:before {
	-webkit-transform: translateX(27px);
	-ms-transform: translateX(27px);
	transform: translateX(27px);
}
/* Rounded sliders */

.slider-m.round-m {
	border-radius: 34px;
}
.slider-m.round-m:before {
	border-radius: 50%;
}


/*****************Sharmistha Added new css for staff list and details page***************/

ul.colors {display: flex;margin: 15px 0;justify-content: space-between;padding:0;}
ul.colors li {display: block;padding: 10px 22px;border-radius: 5px;border: 2px solid #fff;}
ul.colors li.active {border-color: #666;}
.bgred {background: #f74242;}
.bgyellow {background: #e7b152;}
.bggrn {background: #4bb950;}
.bglightgrn {background: #32c197;}
.bgblue {background: #4c80d4;}
.custom-select-icon i{color:#2ba2da}
.margleft25{margin-left:25px;}
.container-custm{width:90%; margin: 0 auto;max-width:1280px;}
.custm-tblebx{float: left;line-height: 34px;}
.custm-tblebx img{float: left;margin: 0 10px 0;}
.custm-tblebx a{color:#3E3939;}
.custm-tblebx a:hover{text-decoration: underline;}
.custm-tblebx input{float: left;line-height: 20px;margin: 11px 11px 0 0;}
.staff-detailuser{width:100%;float: left;margin: 0 0 15px;}
.staff-detailuser img{float: left;margin: 0 10px 0 0;}
.staff-detailuser h4{color: #000;line-height: 27px;margin: 5px 0 0; font-size: 20px; font-weight: 400;}
.staff-detailuser p{font-size: 15px;color: #000;}
.staff-detail .nav-tabs { border-bottom: 2px solid #DDD; }
.staff-detail .nav-tabs > li.active > a, .staff-detail .nav-tabs > li.active > a:focus, .staff-detail .nav-tabs > li.active > a:hover { border-width: 0; }
.staff-detail .nav-tabs > li > a { border: none; color: #666; text-transform: uppercase;}
.staff-detail .nav-tabs > li.active > a, .staff-detail .nav-tabs > li > a:hover { border: none; color: #4285F4 !important; background: transparent;text-transform: uppercase;}
.staff-detail .nav-tabs > li > a::after { content: ""; background: #4285F4; height: 2px; position: absolute; width: 100%; left: 0px; bottom: -1px; transition: all 250ms ease 0s; transform: scale(0); }
.staff-detail .nav-tabs > li.active > a::after, .staff-detail .nav-tabs > li:hover > a::after { transform: scale(1); }
.staff-detail .tab-nav > li > a::after { background: #21527d none repeat scroll 0% 0%; color: #fff; }
.staff-detail .tab-pane { padding: 15px 0; }
.staff-detail .tab-content{padding:10px;width: 100%;float: left;}
.staff-detailtab-bx{width: 100%;float: left;}
.staff-detailtab-bx ul{margin: 0;padding: 0;list-style: none;}
.staff-detailtab-bx ul li{border-bottom: 1px solid #ccc;padding: 17px 0;width:100%;float: left;}
.staff-detailtab-bx ul li h4{font-size:18px;line-height: 18px;color: #000;font-weight: 400;}
.staff-detailtab-bx ul li p{font-size:14px;line-height: 24px;}
.staff-listbadge{background: #000;color: #fff;border-radius:50%;}
.dropdown-menu li a span.text::nth-last-word {background: #000;color: #fff;border-radius:50%;}


.custm-linkedt{width:70px;margin: 0 0 15px; position: absolute; right: 0;}
.custm-linkedt ul{margin: 0;padding: 0;list-style: none;}
.custm-linkedt ul li{float: left;margin: 0 20px 0 0;font-size: 14px;}
.custm-linkedt ul li a{float: left;font-size: 16px;}

.custm-l {width:220px;}

.show-tick{margin: 0 0 5px;}
.staff-spn{float: left;margin: 0 10px 0 0;line-height: 33px;}
.tableBH-table{width:100%;float: left;}
.tableBH-table th { font-weight: 400;}
.custm-tab{display: none;margin: 10px;}
.custm-tab .nav>li>a{padding: 3px 9px;font-size: 13px;}
.custm-tab .nav-tabs>li.active>a, .custm-tab .nav-tabs>li.active>a:focus, 
.custm-tab .nav-tabs>li.active>a:hover{background-color: #3097d5;color: #fff;}
.custm-tab .tab-pane{margin: 10px 0 0;}
#openbox{background: #DEE7F7;display: none;float: right;width: 125px;border: 1px solid #ccc;border-radius: 5px;
position: absolute;right: 16px;top: 36px;}
#openbox ul{margin: 0;padding: 0;list-style: none;}
#openbox ul li{padding: 5px 10px;border-bottom: 1px solid #ccc;font-size: 13px;color: #000;width: 100%;float: left;}
#openbox ul li:last-child{border: 0}
#openbox ul li a{font-size: 13px;color: #000;float: left;position: inherit;text-decoration: none;}
.share-cusbtn{width:100%;float: left;}
.cusbtn-style{float: right;border: 0;background: none;}
.team-memtab{display: none;}
.team-memtab .tab-pane{margin: 0;}
div.dataTables_wrapper div.dataTables_filter{display: none !important;}
.filter-table{float: right;}
#example tbody tr td:nth-child(4){padding-right: 32px;}
#example thead>tr>th{border: 0;}
.custm-tab-hrs{width: 100%;margin: 15px 0 0;}
.custm-tab-hrs .panel-heading{width: 100%;display: inline-block;background-color: #fff;}    
.custm-tab-hrs .bhInside{float: left;}
.custm-tab-hrs .panel-title a{float: right;}
.custm-tab-hrs .panel-title a i{font-size: 24px;line-height:34px;}
.custm-tab-hrs .custm-tab{margin: 10px 0;}
.panel-group .panel + .panel {margin-top: 15px;}
.btn-size{padding:8px 12px;font-size:17px;}
.log-i{float: right;margin-top: -24px;margin-right: 10px;color: #6F6A6A;}
.time-slot{    text-align: center;
    color: #333;
    font-size: 15px;
    display: inline-block;
    margin: 10px 0 0 42px;}
.slide-rgt{width:100%;padding:15px 18px;color:#444;font-size:18px;border-bottom: 1px solid #d5d5d5; font-weight: 400;}
.slide-rgt img{float:left;margin:5px 10px 0 0;}
.c-menu__item span{width: 100%;padding:5px 38px 15px;display: inline-block;text-align:left;color:#65686a;font-size:12px;}
.c-menu__link img{margin:0 6px 0 0; height: 21px;}

.upper-cmnsection{width:100%;float:left;border-bottom:1px solid #d0d0d0;padding:50px 0 0;background:#fff;}

.heading-uprlft{width:295px;float:left;padding:3px 0px 10px 12px;color:#242424;font-size:22px;font-weight: 300;}

.upr-rgtsec{width: calc(100% - 295px);float:left;padding: 0;}

.full-rgt{float:right;}

.custm-uperdrop{float:left;margin:0 20px 0 0;}
.custm-uperdrop .btn{background:none;border:0;color:#6a6a6a;font-size:14px;outline:none;box-shadow:none; font-weight: 400;}
.custm-uperdrop .btn:focus, .custm-uperdrop .btn:active {outline:none;box-shadow:none;}
.custm-uperdrop .btn img{margin:0 0 0 5px;}
.filter-option{color:#6a6a6a;font-size:14px;float:left;padding: 6px 0;}
.filter-option a{color:#6a6a6a;font-size:14px;font-weight: 300;}
.modal-custm .modal-backdrop{position: inherit;}
.clr-modalbdy{float: left;width: 100%;background: #fff;padding: 21px !important;}
.new-modalcustm .modal-header{padding: 20px 21px;background: #fff;color: #000;line-height: 38px;font-size: 20px;font-weight:normal;border-bottom: 0;font-weight:normal;}
.new-modalcustm .modal-footer {padding: 10px 21px;background-color: #5cb85c;color: white;border-top: 1px solid #ccc;float: left;width: 100%;background: #fff;}
.new-modalcustm .modal-header .close {
    margin-top: -2px;
	background: #ece5e5;
	color: #a6a6a6 !important;
    opacity: 1;
    border-radius: 50px;
    width:28px;
	height:28px;
    font-size: 20px;
}

.new-modalcustm .input-group span i{font-size: 16px;width: 14px;color:#2ba2da;}
.new-modalcustm .input-group span{background:#fff;}
.new-modalcustm .form-control{height:42px;border-left:0;}
.new-modalcustm textarea{border: 1px solid #ccc;
padding: 10px 15px;}

#custom-search-input {margin:0;padding: 0;}
#custom-search-input .search-query {padding-right:5px;padding-right: 4px \9;padding-left:10px;padding-left: 4px \9;border:0;border-bottom:2px solid #2ba2da;padding-top:8px;padding-bottom:8px; height:51px;
/* IE7-8 doesn't have border-radius, so don't indent the padding */
margin-bottom: 0;-webkit-border-radius: 0;-moz-border-radius: 0;border-radius: 0;}
#custom-search-input button {border: 0;background: none;
/** belows styles are working good */
padding: 2px 5px;margin-top: 2px;position: relative;left: -28px; z-index: 9999;
/* IE7-8 doesn't have border-radius, so don't indent the padding */
margin-bottom: 0;-webkit-border-radius: 3px;-moz-border-radius: 3px;border-radius: 3px;color:#7e7e7e;font-size:16px;}
#custom-search-input button:focus{color:#7e7e7e;}
.search-query:focus + button {z-index: 3; font-size: 14px;  }
.search-query:focus + button:focus {z-index: 3; font-size: 14px;  }
.textarea-md{ border:1px solid #ccc; border-radius:5px 0 0 5px; -webkit-border-radius:5px 0 0 5px; -moz-border-radius:5px 0 0 5px; -ms-border-radius:5px 0 0 5px; -o-border-radius:5px 0 0 5px; }
.textarea-md span, .textarea-md textarea{border:0;}
.textarea-md textarea:focus{outline:0;}
.clr-modalbdy .input-group .form-control:focus{outline:0;border: 1px solid #ccc;border-left:0;}
.add-gly{width:100%;float:left;}
.add-gly .add-picture, .add-gly .add-picture-text{margin-top:10px;margin-bottom:10px;}
.add-gly .add-picture-text{width:auto;line-height: 60px;}
.niceditor{width:100%;float:left;}
/*.niceditor div:first-child {width:335px !important;}*/
.clr-modalbdy .color-b .select-selected{height:42px;padding:10px 12px;border: 1px solid #ccc;border-left:0 !important;width:100%;border-radius:0 !important;}
.clr-modalbdy .color-b .select-items{margin-top:42px;}
.clr-modalbdy .color-b .select-items div{padding:10px 12px;width:100%;}
.clr-modalbdy .color-b .select-selected:after{top:18px;}
.discount-box{width:100%;float:left;}
.discount-box h2{width:100%;font-size: 20px;color: #36465d;/*text-transform: uppercase;*/font-weight:300;}
.discount-box p{width:100%;float:left;margin:10px 0 0;line-height:20px;}
.discount-box .nav-tabs{margin:25px 0 0;width:100%;float:left;}
.discount-box .nav-tabs li{}
.discount-box .nav-tabs > li.active > a, .discount-box .nav-tabs > li.active > a:focus, .discount-box .nav-tabs > li.active > a:hover{border:0;border-bottom:1px solid #1091cd;}
.discount-box .tab-content{width:100%;float:left;padding:15px 0;}
.discount-innertabbx{width:100%;float:left;text-align:center;}
.discount-innertabbx p{color:#333;font-size:22px;}
.discount-innertabbx i{color:#1091cd;font-size:36px;margin-bottom: 10px;}
.cus-discount-btn{float:right}
.new-modalcustm{width:100%;float:left;}
.add-pop { width: 420px;}
.border-dashed-bottom {border-bottom: 1px dashed rgba(0,0,0,.2);padding-top: 1rem;}
.discount-txt{color: #888;text-transform: uppercase;font-size: 14px;}
.discount-edit{font-size: 12px;float: right;margin-top: 4px;}
.discount-edit a{outline: none;box-shadow: none;border: none;color: #17a2c4;}
.app-settings__help-text {color: #9c9898;font-size: 12px;word-wrap: break-word;padding: 15px 15px 40px;}
.app-settings__help-text li{list-style: decimal;}
.modal-footer {padding: 15px;text-align: right;border-top: 1px solid #e5e5e5;}
.discount-btnbx{width:100%;padding:20px;border-top:1px solid #e5e5e5;text-align:center;float:left;}
.modal-title0{padding: 10px 0 10px 0;border-bottom: 1px solid #e5e5e5;margin-bottom:30px;}
.modal-title0 h2{margin: 0;line-height: 1.5;font-size: 24px;font-weight: 400;}
.modal-title1{padding: 10px 0 10px 15px;border-bottom: 1px solid #e5e5e5;}
.modal-title1 h2{margin: 0;line-height: 1.5;font-size: 24px;font-weight: 400;}
.bg-grey{background:#fafafa;padding:0 !important;}
.discount-coupon{border-right: 1px solid #dedddd;padding: 0 18px 0 0;float:left;width:100%}
.preview-cupnmain{background:#fff;border-bottom:1px solid #e5e5e5;width:100%;float:left;padding:25px;}
.preview-cupnbx{background: #173b75;
background: -moz-linear-gradient(left, #173b75 0%, #2651c9 36%, #6895c1 100%);
background: -webkit-linear-gradient(left, #173b75 0%,#2651c9 36%,#6895c1 100%);
background: linear-gradient(to right, #173b75 0%,#2651c9 36%,#6895c1 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#173b75', endColorstr='#6895c1',GradientType=1 );width:100%;float:left;padding:30px;border-radius:5px;height:240px;}
.preview-cupnbx-offer{background: #172054;
background: -moz-linear-gradient(left, #172054 0%, #1b602a 65%, #2b9b36 100%);
background: -webkit-linear-gradient(left, #172054 0%,#1b602a 65%,#2b9b36 100%);
background: linear-gradient(to right, #172054 0%,#1b602a 65%,#2b9b36 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#172054', endColorstr='#2b9b36',GradientType=1 );width:100%;float:left;padding:30px;border-radius:5px;height:240px;}
.preview-line{border-bottom:1px solid #fbfbfb;width:100%;float:left;}
.px-0{padding-right:0;}
.pl-0{padding-left:0;}
.preview-clsbtn{background-color: #eee !important;width: 35px;height: 35px;border-radius: 50%;font-size: 1.3rem;text-shadow: none;color: #818181 !important;opacity: 1;margin: 9px 10px 0 0;font-size:15px;}
.preview-clsbtn:hover{color: #818181 !important;opacity: 1;}
.preview-innertxt{width:100%;text-align:center;color:#fff;font-size:12px;margin:21% 0 20px;}
.preview-innertxt span{font-size:18px;}
.preview-innertxt1{width:100%;float:left;padding:20px 0 0 0;font-size:14px;color:#fff}
.preview-innertxt1 span{color:#CCC;font-size:14px;}
.preview-persentage{float:left;color:#fff;font-size:28px;}
.mt-20{margin-top:20px;}
.offer-label{margin-bottom:10px;font-size:16px;font-weight:400;}
.gift-rgttxt{width:100%;float:left;text-align:center;color:#e0e0e0;font-size:28px;margin-bottom:15px;text-transform:uppercase;}
.gift-rgttxt1{text-align: center;padding: 1rem 0;font-size: 13px;color: #777;border-bottom: 1px dashed rgba(0,0,0,.12);margin:5px 0 15px;width:100%;float:left;}
.grey-text{font-size:12px;color:#ccc;line-height:28px}
.border-dashed-bottom1 {border-bottom: 1px dashed rgba(0,0,0,.2);}
.gift-code{width:100%;float:left;text-align:right;font-size:13px;margin-bottom:20px;}
.gift-titlergt{width:100%;float:left;color:#000;margin-bottom:10px;}
.gc-image{transition: .2s ease-in-out;transform: scale(1);box-shadow: 2px 2px 10px rgba(0,0,0,.12);border: 1px solid rgba(0,0,0,.2);width:100%;}
.gc-image:hover {transform: scale(1.2);}
.gc-bx .col-xs-4{padding:4px;}
.gc-plus i{font-size:28px;color:#666;line-height:40px;}
.gc-ortxt{width:100%;float:left;margin:12px 0;text-align:center;color:#000;font-size:20px;}
.gc-btnbx{width:100%;float:left;margin:40px 0 20px;text-align:center;}
.gc-btnbx h3{width:100%;color:#757575;font-size:18px;margin-bottom:10px;font-weight:400;}
.table-custom1 thead th{border: 1px solid #d7d7d7 !important;}
.regular-frmbx .color-b .select-selected::after{border:0}
.custm-staffdrp{display: flex;padding: 3px 20px;clear: both;font-weight: 400;line-height: 1.42857143;color: #333;white-space: nowrap;}
.custm-staffdrp a{padding:0px 5px !important;}
.custm-uperdrop .staff-drptxt{color:#23527c;font-size:16px;padding:0;}
.staff-plus{margin:5px 0 0;}
.child-outline {border: dashed hsla(0,0%,100%,.4);border-width: 0 0 1px 1px;width: 20px;display: inline-block;height: 28px;}
.child-outline.child-outline--dark {border-color: rgba(0,0,0,.4);}
.mlf-30{margin-left:30px;}
.staff-inertab{float:right;position:absolute;right:0;margin: 10px 0 0;z-index:5;}
.staff-inertab li a{font-size:13px;padding:5px;}
.staff-irregular-txt, .staff-irregular-txt .btn{background:none;color: #23527c;font-size: 16px;line-height:12px}
.staff-irregular-txt i{font-size:20px;color:#666}
.listview-txt{float:left;font-size:13px;color:#000;}
.listview-txt span{color:#23527c;font-size:16px;}
.edit-staff{float:right;width: 100%;text-align: right;}
.profile-picbx{width: 200px;height: 200px;display: -ms-flexbox;display: flex;-ms-flex: 0 0 200px;flex: 0 0 200px;-ms-flex-pack: center;justify-content: center;-ms-flex-align: center;align-items: center;-ms-flex-direction: column;flex-direction: column;border-radius: 2px;overflow: hidden;cursor: pointer;border: 1px solid #dfdfdf;color: #777;}
.profile-picbx i{font-size:80px;}
.profile-picbx span{font-size: 1rem;margin-top: .5rem;}
.profile-email{float:left;color:#000;font-size:13px;width: 100%;padding: 6px 0 16px;}
.profile-email span, .profile-email span a{float:right;color:#09F;}
.profile-title{width:100%;float:left;margin-bottom:14px;font-size: 23px;;font-weight:500;}
.profile-bx{width:100%;float:left;}
.profile-link{width:100%;}
.profile-p{width:100%;float:left;margin-bottom:15px;font-size:16px;}
.profile-frm label{font-size:16px;margin-bottom:10px;width:100%;}
.profile-frm .input-group span{width: 1%;padding:6px 5px;}
.profile-frm .select-selected{line-height:16px;}
.calen-txt{float:left;color:#000;font-size:17px;width:100%;margin-bottom:2px;line-height: 32px;}
.profile-frm .btn-toggle.btn-sm:before {content: 'Hide';left: -0.5rem;color: #ccc !important;font-size: 14px;left:3.5rem !important;line-height:32px;}
.profile-frm .btn-toggle.btn-sm:after {content: 'Show';right: -0.5rem;opacity: .5;color: #28b1e4 !important;font-size: 14px;line-height: 32px;}
.profile-frm .btn-toggle.btn-sm{width: 96px;height: 36px;border-radius: 5px;background: none;box-shadow: none;border: 2px solid #28b1e4;color: #28b1e4;font-size: 13px;}
.profile-frm .btn-toggle.btn-sm.active > .handle {left: 5rem;transition: left .25s;background:#28b1e4;top: 7px;}
.profile-frm .btn-toggle.btn-sm > .handle{background:#999;top: 7px;}
.profile-frm textarea:focus{outline:0;border:0;}
.profile-bx input:focus{border:1px solid #ccc;}

.file-upload {background-color: #ffffff;width: 100%;margin: 0 auto;padding: 20px;text-align:center;}
.file-upload-btn {margin: 0;color: #fff;background: #0D6AB3;border: none;padding: 10px;border-radius: 4px;transition: all .2s ease;outline: none;text-transform: uppercase;font-weight: 700;text-align:center;margin:10px 0 0;}
.file-upload-btn:hover {background: #0D6AB3;color: #ffffff;transition: all .2s ease;cursor: pointer;}
.file-upload-btn:active {border: 0;transition: all .2s ease;}
.file-upload-content {display: none;text-align: center;}
.file-upload-input {position: absolute;margin: 0;padding: 0;width: 100%;height: 100%;outline: none;opacity: 0;cursor: pointer;}
.image-upload-wrap {margin-top: 20px;border: 2px dashed #ccc;position: relative;}
.image-dropping,
.image-upload-wrap:hover {background-color: #fff;border: 2px dashed #ccc;}
.image-title-wrap {padding: 0 15px 15px 15px;color: #222;}
.drag-text {text-align: center;}
.drag-text h3 {text-transform: uppercase;color: #3C413E;padding: 60px 0;}
.file-upload-image {max-height: 200px;max-width: 200px;margin: auto;padding: 20px;}
.remove-image {width: 200px;margin: 0;color: #fff;background: #cd4535;border: none;padding: 10px;border-radius: 4px;border-bottom: 4px solid #b02818;transition: all .2s ease;outline: none;text-transform: uppercase;font-weight: 700;}
.remove-image:hover {background: #c13b2a;color: #ffffff;transition: all .2s ease;cursor: pointer;}
.remove-image:active {border: 0;transition: all .2s ease;}


/***Checkbox Custom****/
.styled-checkbox {position: absolute;opacity: 0;}
.styled-checkbox + label {position: relative;cursor: pointer;padding: 0;}
.styled-checkbox + label:before {content: '';margin-right: 10px;display: inline-block;vertical-align: text-top;width: 20px;height: 20px;background: white;border: 2px solid #ccc;border-radius: 50px;}
.styled-checkbox:hover + label:before {border-radius:50px;}
.styled-checkbox:focus + label:before {box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.12);border-radius:0;top: -4px;
left: -3px;
width: 12px;
height: 22px;
border-top: 2px solid transparent;
border-left: 2px solid transparent;
border-right: 2px solid #4285f4;
border-bottom: 2px solid #4285f4;
transform: rotate(40deg);
-webkit-backface-visibility: hidden;
transform-origin: 100% 100%;transition: .2s;}
.styled-checkbox:checked + label:before {border-radius:0;top: -4px;
left: -3px;
width: 12px;
height: 22px;
border-top: 2px solid transparent;
border-left: 2px solid transparent;
border-right: 2px solid #4285f4;
border-bottom: 2px solid #4285f4;
transform: rotate(40deg);
-webkit-backface-visibility: hidden;
transform-origin: 100% 100%;transition: .2s;}
.styled-checkbox:disabled + label {color: #b8b8b8;cursor: auto;}
.styled-checkbox:disabled + label:before {box-shadow: none;background: #ddd;}
.styled-checkbox:checked + label:after {content: '';position: absolute;left: 5px;top: 9px;background: white;width: 2px;height: 2px;box-shadow: 2px 0 0 white, 4px 0 0 white, 4px -2px 0 white, 4px -4px 0 white, 4px -6px 0 white, 4px -8px 0 white;transform: rotate(45deg);}



.example .btn-toggle {

  top: 50%;

  transform: translateY(-50%);

}

.btn-toggle {

  margin: 0 4rem;

  padding: 0;

  position: relative;

  border: none;

  height: 1.5rem;

  width: 3rem;

  border-radius: 1.5rem;

  color: #6b7381;

  background: #bdc1c8;

}

.btn-toggle:focus,

.btn-toggle.focus,

.btn-toggle:focus.active,

.btn-toggle.focus.active {

  outline: none;

}

.btn-toggle:before,

.btn-toggle:after {

  line-height: 1.5rem;

  width: 4rem;

  text-align: center;

  font-weight: 600;

  font-size: 0.75rem;

  text-transform: uppercase;

  letter-spacing: 2px;

  position: absolute;

  bottom: 0;

  transition: opacity .25s;

}

.btn-toggle:before {

  content: 'Off';

  left: -4rem;

}

.btn-toggle:after {

  content: 'On';

  right: -4rem;

  opacity: .5;

}

.btn-toggle > .handle {

  position: absolute;

  top: 0.1875rem;

  left: 0.1875rem;

  width: 1.125rem;

  height: 1.125rem;

  border-radius: 1.125rem;

  background: #fff;

  transition: left .25s;

}

.btn-toggle.active {

  transition: background-color 0.25s;

}

.btn-toggle.active > .handle {

  left: 1.6875rem;

  transition: left .25s;

}

.btn-toggle.active:before {

  opacity: .5;

}

.btn-toggle.active:after {

  opacity: 1;

}

.btn-toggle.btn-sm:before,

.btn-toggle.btn-sm:after {

  line-height: -0.5rem;

  color: #fff;

  letter-spacing: .75px;

  left: 0.41250000000000003rem;

  width: 2.325rem;

}

.btn-toggle.btn-sm:before {

  text-align: right;

}

.btn-toggle.btn-sm:after {

  text-align: left;

  opacity: 0;

}

.btn-toggle.btn-sm.active:before {

  opacity: 0;

}

.btn-toggle.btn-sm.active:after {

  opacity: 1;

}

.btn-toggle.btn-xs:before,

.btn-toggle.btn-xs:after {

  display: none;

}

.btn-toggle:before,

.btn-toggle:after {

  color: #6b7381;

}

.btn-toggle.active {

  background-color: #29b5a8;

}

.btn-toggle.btn-lg {

  margin: 0 5rem;

  padding: 0;

  position: relative;

  border: none;

  height: 2.5rem;

  width: 5rem;

  border-radius: 2.5rem;

}

.btn-toggle.btn-lg:focus,

.btn-toggle.btn-lg.focus,

.btn-toggle.btn-lg:focus.active,

.btn-toggle.btn-lg.focus.active {

  outline: none;

}

.btn-toggle.btn-lg:before,

.btn-toggle.btn-lg:after {

  line-height: 2.5rem;

  width: 5rem;

  text-align: center;

  font-weight: 600;

  font-size: 1rem;

  text-transform: uppercase;

  letter-spacing: 2px;

  position: absolute;

  bottom: 0;

  transition: opacity .25s;

}

.btn-toggle.btn-lg:before {

  content: 'Off';

  left: -5rem;

}

.btn-toggle.btn-lg:after {

  content: 'On';

  right: -5rem;

  opacity: .5;

}

.btn-toggle.btn-lg > .handle {

  position: absolute;

  top: 0.3125rem;

  left: 0.3125rem;

  width: 1.875rem;

  height: 1.875rem;

  border-radius: 1.875rem;

  background: #fff;

  transition: left .25s;

}

.btn-toggle.btn-lg.active {

  transition: background-color 0.25s;

}

.btn-toggle.btn-lg.active > .handle {

  left: 2.8125rem;

  transition: left .25s;

}

.btn-toggle.btn-lg.active:before {

  opacity: .5;

}

.btn-toggle.btn-lg.active:after {

  opacity: 1;

}

.btn-toggle.btn-lg.btn-sm:before,

.btn-toggle.btn-lg.btn-sm:after {

  line-height: 0.5rem;

  color: #fff;


  letter-spacing: .75px;

  left: 0.6875rem;

  width: 3.875rem;

}

.btn-toggle.btn-lg.btn-sm:before {

  text-align: right;

}

.btn-toggle.btn-lg.btn-sm:after {

  text-align: left;

  opacity: 0;

}

.btn-toggle.btn-lg.btn-sm.active:before {

  opacity: 0;

}

.btn-toggle.btn-lg.btn-sm.active:after {

  opacity: 1;

}

.btn-toggle.btn-lg.btn-xs:before,

.btn-toggle.btn-lg.btn-xs:after {

  display: none;

}

.btn-toggle.btn-sm {

  margin: 0 0.5rem;

  padding: 0;

  position: relative;

  border: none;


  height: 1.5rem;

  width: 3rem;

  border-radius: 1.5rem;

}

.btn-toggle.btn-sm:focus,

.btn-toggle.btn-sm.focus,

.btn-toggle.btn-sm:focus.active,

.btn-toggle.btn-sm.focus.active {

  outline: none;

}

.btn-toggle.btn-sm:before,

.btn-toggle.btn-sm:after {

  line-height: 1.5rem;

  width: 0.5rem;

  text-align: center;

  font-weight: 600;

  font-size: 0.55rem;

  text-transform: uppercase;

  letter-spacing: 2px;

  position: absolute;

  bottom: 0;

  transition: opacity .25s;

}

.btn-toggle.btn-sm:before {

  content: 'Off';

  left: -0.5rem;

}

.btn-toggle.btn-sm:after {

  content: 'On';

  right: -0.5rem;

  opacity: .5;

}

.btn-toggle.btn-sm > .handle {

  position: absolute;

  top: 0.1875rem;

  left: 0.1875rem;

  width: 1.125rem;

  height: 1.125rem;

  border-radius: 1.125rem;

  background: #fff;

  transition: left .25s;

}

.btn-toggle.btn-sm.active {

  transition: background-color 0.25s;

}

.btn-toggle.btn-sm.active > .handle {

  left: 1.6875rem;

  transition: left .25s;

}

.btn-toggle.btn-sm.active:before {

  opacity: .5;

}

.btn-toggle.btn-sm.active:after {

  opacity: 1;

}

.btn-toggle.btn-sm.btn-sm:before,

.btn-toggle.btn-sm.btn-sm:after {

  line-height: -0.5rem;

  color: #fff;

  letter-spacing: .75px;

  left: 0.41250000000000003rem;

  width: 2.325rem;

}

.btn-toggle.btn-sm.btn-sm:before {

  text-align: right;

}

.btn-toggle.btn-sm.btn-sm:after {

  text-align: left;

  opacity: 0;

}

.btn-toggle.btn-sm.btn-sm.active:before {

  opacity: 0;

}

.btn-toggle.btn-sm.btn-sm.active:after {

  opacity: 1;

}

.btn-toggle.btn-sm.btn-xs:before,

.btn-toggle.btn-sm.btn-xs:after {

  display: none;

}

.btn-toggle.btn-xs {

  margin: 0 0;

  padding: 0;

  position: relative;

  border: none;

  height: 1rem;

  width: 2rem;

  border-radius: 1rem;

}

.btn-toggle.btn-xs:focus,

.btn-toggle.btn-xs.focus,

.btn-toggle.btn-xs:focus.active,

.btn-toggle.btn-xs.focus.active {

  outline: none;

}

.btn-toggle.btn-xs:before,

.btn-toggle.btn-xs:after {

  line-height: 1rem;

  width: 0;

  text-align: center;

  font-weight: 600;

  font-size: 0.75rem;

  text-transform: uppercase;

  letter-spacing: 2px;

  position: absolute;

  bottom: 0;

  transition: opacity .25s;

}

.btn-toggle.btn-xs:before {

  content: 'Off';

  left: 0;

}

.btn-toggle.btn-xs:after {

  content: 'On';

  right: 0;

  opacity: .5;

}

.btn-toggle.btn-xs > .handle {

  position: absolute;

  top: 0.125rem;

  left: 0.125rem;

  width: 0.75rem;

  height: 0.75rem;

  border-radius: 0.75rem;

  background: #fff;

  transition: left .25s;

}

.btn-toggle.btn-xs.active {

  transition: background-color 0.25s;

}

.btn-toggle.btn-xs.active > .handle {

  left: 1.125rem;

  transition: left .25s;

}

.btn-toggle.btn-xs.active:before {

  opacity: .5;

}

.btn-toggle.btn-xs.active:after {

  opacity: 1;

}

.btn-toggle.btn-xs.btn-sm:before,

.btn-toggle.btn-xs.btn-sm:after {

  line-height: -1rem;

  color: #fff;

  letter-spacing: .75px;

  left: 0.275rem;

  width: 1.55rem;

}

.btn-toggle.btn-xs.btn-sm:before {

  text-align: right;

}

.btn-toggle.btn-xs.btn-sm:after {

  text-align: left;

  opacity: 0;

}

.btn-toggle.btn-xs.btn-sm.active:before {


  opacity: 0;

}

.btn-toggle.btn-xs.btn-sm.active:after {

  opacity: 1;

}

.btn-toggle.btn-xs.btn-xs:before,

.btn-toggle.btn-xs.btn-xs:after {

  display: none;

}

.btn-toggle.btn-secondary {

  color: #6b7381;

  background: #bdc1c8;

}

.btn-toggle.btn-secondary:before,

.btn-toggle.btn-secondary:after {

  color: #6b7381;

}

.btn-toggle.btn-secondary.active {

  background-color: #ff8300;

}

/******Custom Modal******/

/* The Modal (background) */

.modal {

    display: none; /* Hidden by default */

    position: fixed; /* Stay in place */

    z-index: 9999; /* Sit on top */

    padding-top: 100px; /* Location of the box */

    left: 0;

    top: 0;

    width: 100%; /* Full width */

    height: 100%; /* Full height */

    overflow: auto; /* Enable scroll if needed */

    background-color: rgb(0,0,0); /* Fallback color */

    background-color: rgba(0,0,0,0.7); /* Black w/ opacity */

}



/* Modal Content */

.modal-content {

    position: relative;

    background-color: #fefefe;

    margin: auto;

    padding: 0;

    border: 1px solid #888;

    width: 90%;

    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);

    -webkit-animation-name: animatetop;

    -webkit-animation-duration: 0.4s;

    animation-name: animatetop;

    animation-duration: 0.4s}



/* Add Animation */

@-webkit-keyframes animatetop {

    from {top:-300px; opacity:0} 

    to {top:0; opacity:1}

}



@keyframes animatetop {

    from {top:-300px; opacity:0}

    to {top:0; opacity:1}

}

/* The Close Button */
.close {color: white;float: right;font-size: 28px;font-weight: bold;}
.close:hover, .close:focus {color: #000;text-decoration: none;cursor: pointer;}
.modal-header {padding: 2px 16px;background-color: #5cb85c;color: white;}
.modal-body {padding:10px 8px;}
.modal-footer {padding: 2px 16px;background-color: #5cb85c;color: white;}
.setting-toggle{float:left;}
.setting-toggle {float: left; margin: 11px 0 0 35px ;}






/****** responsive ******/
@media only screen and (min-width:900px) and (max-width: 1024px)  {
.custm-tblebx {float: left;line-height: 26px;}
.custm-tblebx img {float: left; margin: 0 4px 0;height: 25px;width: 25px;}
}

@media (max-width: 767px){
.team-memtab .tab-pane .whitebox {margin:0 0 10px 0;}
.team-memtab{display: block;}

}