@font-face {
    font-family: 'promptbold';
    src: url('../fonts/prompt-bold-webfont.woff2') format('woff2'),
         url('../fonts/prompt-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'promptmedium';
    src: url('../fonts/prompt-medium-webfont.woff2') format('woff2'),
         url('../fonts/prompt-medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'promptregular';
    src: url('../fonts/prompt-regular-webfont.woff2') format('woff2'),
         url('../fonts/prompt-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}